.md-display-1 + p {
	margin-top: -20px;
}
iframe {
	height: 25vw !important;
}
.md-title {
	margin-bottom: 70px;
}
.explicit {
	padding-left: 20px;
}
@media screen and (max-width: 900px) {
  .track-card {
    width: 80vw;
  }
}
@media screen and (min-width: 901px) {
  .track-card {
    width: 40vw;
  }
}
md-content { 
	height: initial;
}
.btn-after-post, .btn-submit {
	font-size: 24pt !important; padding: 15px;
}
i a {
	color: #64DD17;
}
.header img {
  float: left;
  height: 60px;
}

.header h1 {
  position: relative;
  left: 10px;
  top: 5px;
}