.md-display-1 + p {
	margin-top: -20px;
}
iframe {
	height: 25vw !important;
}
.md-title {
	margin-bottom: 70px;
}
.explicit {
	padding-left: 20px;
}
.track-card {
	 width: 40vw;
}
md-content { 
	height: initial;
}