<div ng-controller="ChannelsController">
	<md-content class="md-padding">
		<p>Find music by genre or tags:</p>
		<md-input-container class="md-block" flex-gt-xs>
			<label>Genre(s)</label>
			<md-icon class="material-icons">&#xE152;</md-icon>
			<md-select ng-model="searchGenres" multiple>
				<md-option ng-repeat="genre in genres" value="{{ genre }}">
					{{ genre }}
				</md-option>
			</md-select>
		</md-input-container>

		<md-input-container class="md-block" flex-gt-xs>
			<label>Tags</label>
			<md-icon class="material-icons">&#xE893;</md-icon>
			<input ng-model="searchTagString" ng-change="searchTags = searchTagString.split(' ')" placeholder="#synthpop #newwave">
		</md-input-container>
	</md-content>

	<md-content layout-padding>
    	<div class='md-padding' layout="row" layout-wrap>
    		<div ng-repeat="track in tracks">
				<md-card style="width: 40vw;" ng-if="(searchGenres.length === 0 || match(searchGenres,track.genres)) && (searchTags.length === 0 || match(searchTags, track.tags))">
		            <md-card-header>
		                <md-card-avatar>
		                    <!-- <img class="md-user-avatar" src="img/100-2.jpeg"/> -->
		                </md-card-avatar>
		                <md-card-header-text>
		                    <span class="md-title">User</span>
		                    <span class="md-subhead">none</span>
		                </md-card-header-text>
		            </md-card-header>
		            <!-- <img ng-src="{{ imagePath }}" class="md-card-image" alt="Washed Out"> -->
		            <iframe ng-if="track.link.includes('youtu')" ng-src="{{ track.link | trusted }}" height="50%" frameborder="0"></iframe>
		            <iframe ng-if="track.link.includes('soundcloud')" width="100%" height="300" scrolling="no" frameborder="no" ng-src="{{ track.link | trusted }}"></iframe>
		            <md-card-title>
		                <md-card-title-text>
		                    <span class="md-headline">{{ track.artist }} - {{ track.name }}</span>
		                    <span class="md-subhead">{{ track.album }}</span>
		                </md-card-title-text>
		            </md-card-title>
		            <md-card-actions layout="row" layout-align="start center">
		                <md-button ng-class="{'md-warn': true }">
		                	<md-icon class="material-icons">&#xE8DC;</md-icon>
		                </md-button>
		                <md-button ng-class="{'md-primary': true }">
		                	<md-icon class="material-icons">&#xE8DB;</md-icon>
		                </md-button>
		                <!-- <md-card-icon-actions>
		                    <md-button class="md-icon-button" aria-label="toggle">
		                        <md-icon md-svg-icon="md-toggle-arrow"></md-icon>
		                    </md-button>
		                </md-card-icon-actions> -->
		            </md-card-actions>
		            <md-card-content>
		            	<p>Tags: <b>{{ hashify(track.tags) || '--' }}</b></p>
		            </md-card-content>
		        </md-card>
    		</div>
	    </div>
	</md-content>
</div>