<div ng-controller="PostController">

	<md-content layout-padding ng-if="!submitted">

		<h1>Upload and Post a Track</h1>

		<p><b>FOR SPOTIFY TRACKS:</b> Click "Share" &rarr; "Copy Song Link". Paste the link here.</p>
		<p><b>FOR YOUTUBE MUSIC VIDEOS:</b> Copy either the link in the browser or the link given to you from the "Share" button and paste it here.</p>
		<p><b>FOR SOUNDCLOUD TRACKS:</b> Click "Share" &rarr; "Embed". Copy the entire embed code and paste it here.</p>
		<div style="text-align: center">
			<!-- <div style="width: 25vw"></div> -->
			<form name="trackForm" style="display: inline-block; text-align: left">

				<div layout-gt-xs="row">
					<md-input-container class="md-block" flex-gt-xs>
						<label>Artist/Band</label>
						<md-icon class="material-icons">&#xE03F;</md-icon>
						<input ng-model="track.artist" placeholder="a-ha" maxlength="34" required>
					</md-input-container>

					<md-input-container class="md-block" flex-gt-xs>
						<label>Title</label>
						<md-icon class="material-icons">&#xE3A1;</md-icon>
						<input ng-model="track.name" placeholder="Take On Me" maxlength="34" required>
					</md-input-container>

					<md-input-container class="md-block" flex-gt-xs>
						<label>Album (Optional)</label>
						<md-icon class="material-icons">&#xE019;</md-icon>
						<input ng-model="track.album" placeholder="Hunting High and Low" maxlength="34">
					</md-input-container>

				</div>
				<!-- TODO: error handling: https://material.angularjs.org/1.1.4/demo/input#basic-usage -->
				<md-input-container class="md-block" flex-gt-xs>
					<label>Link</label>
					<md-icon class="material-icons">&#xE157;</md-icon>
					<input ng-model="track.link" placeholder="https://www.youtube.com/watch?v=djV11Xbc914" required>
				</md-input-container>

				<div layout-gt-xs="row">

					<md-input-container class="md-block" flex-gt-xs>
						<label>Genre(s)</label>
						<md-icon class="material-icons">&#xE152;</md-icon>
						<md-select ng-model="track.genres" required multiple>
							<md-option ng-repeat="genre in genres" value="{{ genre }}">
								{{ genre }}
							</md-option>
						</md-select>
					</md-input-container>
					<div>
						<md-checkbox ng-model="track.explicit">
							Explicit
						</md-checkbox>
					</div>
				
				</div>
				
				<!-- TODO: require no special chars -->
				<md-input-container class="md-block" flex-gt-xs>
					<label>Tag(s)</label>
					<md-icon class="material-icons">&#xE893;</md-icon>
					<input ng-model="track.tags" placeholder="#synthpop #newwave #80s">
				</md-input-container>
					
				<md-button 
					class="md-primary" 
					style="font-size: 24pt !important; padding: 15px;" 
					type="submit" 
					ng-disabled="track.link === '' || track.artist === '' || track.name === '' || track.genres === []"
					ng-click="postTrack()">Share</md-button>
			</form>
			<!-- <div style="width: 20vw"></div> -->
		</div>
	</md-content>

	<md-content layout-padding ng-if="submitted">
		<h1>{{ submissionMessage }}</h1>
	</md-content>
</div>