<div ng-controller="PostController">

	<md-content layout-padding ng-if="!submitted">
		<div layout="row">
			<div style="width: 25vw"></div>
			<form name="trackForm">
				<!-- TODO: error handling: https://material.angularjs.org/1.1.4/demo/input#basic-usage -->
				<md-input-container class="md-block" flex-gt-xs>
					<label>Link</label>
					<md-icon class="material-icons">&#xE039;</md-icon>
					<input ng-model="track.link" placeholder="https://www.youtube.com/watch?v=djV11Xbc914" required>
				</md-input-container>

				<div layout-gt-xs="row">
					<md-input-container class="md-block" flex-gt-xs>
						<label>Artist/Band</label>
						<md-icon class="material-icons">&#xE03F;</md-icon>
						<input ng-model="track.artist" placeholder="a-ha" required>
					</md-input-container>

					<md-input-container class="md-block" flex-gt-xs>
						<label>Track Name</label>
						<md-icon class="material-icons">&#xE3A1;</md-icon>
						<input ng-model="track.name" placeholder="Take On Me" required>
					</md-input-container>

					<md-input-container class="md-block" flex-gt-xs>
						<label>Album</label>
						<md-icon class="material-icons">&#xE019;</md-icon>
						<input ng-model="track.album" placeholder="Hunting High and Low">
					</md-input-container>

				</div>

				<div layout-gt-xs="row">

					<md-input-container class="md-block" flex-gt-xs>
						<label>Genre(s)</label>
						<md-icon class="material-icons">&#xE152;</md-icon>
						<md-select ng-model="track.genres" required multiple>
							<md-option ng-repeat="genre in genres" value="{{ genre }}">
								{{ genre }}
							</md-option>
						</md-select>
					</md-input-container>
					<div>
						<md-checkbox ng-model="track.explicit">
							Explicit
						</md-checkbox>
					</div>
				
				</div>
				
				<!-- TODO: require no special chars -->
				<md-input-container class="md-block" flex-gt-xs>
					<label>Tag(s)</label>
					<md-icon class="material-icons">&#xE893;</md-icon>
					<input ng-model="track.tags" placeholder="#synthpop #newwave #80s">
				</md-input-container>
					
				<div layout="row">
					<div style="width: 12vw;"></div>
					<md-button class="md-accent" style="font-size: 24pt !important; padding: 15px;" type="submit" ng-click="postTrack()">Share (Submit)</md-button>
				</div>
			</form>
			<div style="width: 20vw"></div>
		</div>
	</md-content>

	<md-content layout-padding ng-if="submitted">
		<h1>{{ submissionMessage }}</h1>
	</md-content>
</div>